Bai1_SolveMeFirst/bin/
Bai1_SolveMeFirst/obj/
Bai2_SimpleArraySum/bin/
Bai2_SimpleArraySum/obj/
Bai3_CompareTheTriplets/bin/
Bai3_CompareTheTriplets/obj/
Bai4_AVeryBigSum/bin/
Bai4_AVeryBigSum/obj/
Bai5_DiagonalDifference/bin/
Bai5_DiagonalDifference/obj/
Bai6_PlusMinus/bin/
Bai6_PlusMinus/obj/
Bai7_Staircase/bin/
Bai7_Staircase/obj/
Bai8_MiniMaxSum/bin/
Bai8_MiniMaxSum/obj/
Bai9_BirthdayCakeCandles/bin/
Bai9_BirthdayCakeCandles/obj/
Bai10_TimeConversion/bin/
Bai10_TimeConversion/obj/